* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
img {
  object-fit: cover;
}
body {
  font-family: "Barlow", sans-serif;
  margin-bottom: 0px !important;
}
main {
  background: rgb(36, 142, 194);
  background: linear-gradient(
    0deg,
    rgba(36, 142, 194, 1) 0%,
    rgba(59, 60, 128, 1) 25%,
    rgba(30, 157, 218, 1) 75%,
    rgba(13, 58, 152, 1) 100%
  );
  min-height: 100vh;
}
.navbar-collapse {
  flex-direction: row-reverse;
}
/*  */
.main-img {
  min-height: 30vh;
  background-image: url("assets/main-img.jpg");
  background-size: cover;
  position: relative;
}

.main-img p {
  font-size: 3rem;
}
.main-img::after {
  content: "";
  width: 100%;
  height: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    321deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(190, 0, 0, 1) 100%
  );
  bottom: 0px;
  position: absolute;
}
/*  */
#seacrh-input {
  width: 30%;
  height: 50px;
  border-radius: 10px 0px 0px 10px;
}
#search-button {
  transition: 0.7s;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 20px;
  font-weight: bold;
  border: 2px solid red;
  color: red;
  background-color: white;
  display: flex;
  align-items: baseline;
  font-size: 20px;
}
#search-button:hover {
  background-color: red;
  border-color: rgb(97, 3, 3);
  color: white;
}
/* fav */
.fav-title {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-family: "Barlow";
  font-weight: 300;
}
/*  */
.food-card {
  box-shadow: 8px 10px 20px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 10px 20px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 10px 20px -11px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  /* background-color: rgb(105, 93, 93); */
  /* height: 350px; */
}
.food-card img {
  height: 300px;
}
.card-header {
  height: 75px;
}
.refrence-link {
  font-weight: 600;
  font-family: "Barlow", sans-serif;
}

.background-pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hide {
  visibility: hidden;
}

.pop-up-card {
  width: 50%;
  height: 85vh;
  border: 3px solid rgb(112, 8, 26);
  background-color: rgb(211, 211, 211);
  position: relative;
  z-index: 101;
}
.card-exit-btn {
  position: absolute;
  top: 0px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: red;
  border-radius: 10px;
  padding: 4px 9px;
  color: white;
  right: 0px;
  cursor: pointer;
}
.post-card-img {
  /* width: 70%; */
  border-bottom: 4px solid #ffeb00;
  margin: 0px auto;
}
.post-card-img img {
  height: 300px;
}
.post-card .post-card-title {
  font-size: 1.8rem;
  text-align: center;
}
.post-card li {
  font-size: 1.2rem;
  line-height: 1.6;
}
.post-card-link {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  margin: 0px auto;
}
.ingredients {
  position: relative;
}
.ingredients::marker {
  color: #6c0000;
  font-size: 13px;
}
.card-header-font {
  font-size: 1.5rem;
}
.card-p-font {
  font-size: 1rem;
}
/* font */
.pop-up-ul {
  font-size: 1.5rem;
  line-height: 1.3;
}
/* book mark style */
.added {
  background-color: rgb(7 114 13) !important;
  color: white;
  font-weight: 600;
}
.bookmark-card {
  padding: 0px;
  background-color: #e2e2e2;
  border: 2px solid black;
  border-radius: 0px 10px 10px 0px;
  font-size: 1rem;
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .pop-up-card {
    width: 80%;
  }
  .post-card-img {
    /* width: 90%; */
  }
  .pop-up-ul {
    font-size: 1rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 780px) {
  .post-card .post-card-title {
    font-size: 1.5rem;
  }
  .card-header-font {
    font-size: 1.2rem;
  }
  #seacrh-input {
    width: 60%;
  }
}
.loader {
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 0.5s 2.2s ease-in forwards;
  z-index: 99;
}
.progress-bar {
  width: 200px;
  height: 2px;
  background-color: darkslategray;
  position: relative;
  top: calc(50% - 1px);
  left: calc(50% - 100px);
}
.progress-bar:before {
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  position: absolute;
  animation: progress 2s ease-in-out forwards;
}

@keyframes loader {
  to {
    left: -100vw;
  }
}
@keyframes progress {
  to {
    border-left: 200px solid yellow;
  }
}
