* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
p {
  margin-bottom: 0px !important;
}
.navbar-collapse {
  flex-direction: row-reverse;
}
/*  */
.main-img {
  min-height: 60vh;
  background-image: url("assets/main-img.jpg");
  background-size: cover;
  position: relative;
}

.main-img p {
  font-size: 3rem;
}
.main-img::after {
  content: "";
  width: 100%;
  height: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    321deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(190, 0, 0, 1) 100%
  );
  bottom: 0px;
  position: absolute;
}
/*  */
#seacrh-input {
  width: 30%;
  height: 50px;
  border-radius: 10px 0px 0px 10px;
}
#search-button {
  transition: 0.7s;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 20px;
  font-weight: bold;
  border: 2px solid red;
  color: red;
  background-color: white;
}
#search-button:hover {
  background-color: red;
  border-color: rgb(97, 3, 3);
  color: white;
}
/*  */
.food-card {
  border: 2px solid red;
  /* background-color: rgb(105, 93, 93); */
  /* height: 350px; */
}
.food-card img {
  height: 300px;
}
.card-header {
  height: 75px;
}
.refrence-link {
  text-decoration: none;
  display: inline-block;
  color: #000;
  border: 2px solid #949494;
  padding: 5px 10px;
  background-color: #d7d7d7;
  border-radius: 10px;
  font-weight: bolder;
}
#details-btn {
  color: #000;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid #949494;
  padding: 5px 10px;
  background-color: #d7d7d7;
  border-radius: 10px;
  font-weight: bolder;
}
#details-btn:hover {
  color: rgb(76, 0, 175);
}
.background-pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hide {
  visibility: hidden;
}
.pop-up-card {
  width: 50%;
  height: 85vh;
  border: 3px solid rgb(112, 8, 26);
  background-color: rgb(211, 211, 211);
  position: relative;
  z-index: 101;
}
.card-exit-btn {
  position: absolute;
  top: 0px;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  color: white;
  right: 0px;
  cursor: pointer;
}
.post-card-img {
  width: 70%;
  margin: 0px auto;
}
.post-card-title {
  font-size: 1.5rem;
  text-align: center;
}
.post-card-link {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  margin: 0px auto;
}
.ingredients {
  position: relative;
}
.ingredients::marker {
  margin-right: -5px;
}
